    a{
        text-decoration: none;
        color: white;
      }
      
      html{
        height: 100%;
      }
      body {
      height: 100%;
      margin:0;
      padding:0;
      font-family: sans-serif;
  
      }
      .home{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 100%;
        background-image: linear-gradient(#00000091, #00000091), url("{%static 'assets/hero4.jpg'%}");
        background-image: -moz-linear-gradient(#00000091, #00000091), url("{%static 'assets/hero4.jpg'%}");
        background-image: -webkit-linear-gradient(#00000091, #00000091), url("{%static 'assets/hero4.jpg'%}");
        background-image: -o-linear-gradient(#00000091, #00000091), url("{%static 'assets/hero4.jpg'%}");
        background-size: cover;
      }

  
    @media (max-width: 480px) {
      /*Nav bar section*/
      .nav{
        width: 90%;
        margin: 20px auto;
      }
  
      .navigate{
        flex-wrap: wrap;
      }
  
      .titleElem{
            flex: 1;
            align-self: center;
            justify-self: center;
          }
  
      .title-text{
        background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
        animation: 7s rotate linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 0;
      }
  
      .nav-links{
        flex: 1;
      }
  
      .sect{
        border-width: 0 0 2px 0;
        border-style: solid;
        border-image: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%) 1;
        animation: 3s rotate linear infinite;
      }
  
  
      #elems{
        margin: auto;
        padding: 2px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: white;
        
      }
      #elems:hover{
        transform: scale(1.05);
      }
  
      /*Nav Search section*/
      .hero-search{
        width: 100%;
        margin-top: 15px;
      }
  
      .hero-search form{
      }
  
      .search_join{
        width: 90%;
        margin: auto;
      }
  
      #id_gameName{
        width: 70%;
        outline: none;
        border: 1px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        
      }
  
      #id_gameName[type="text"]{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        font-weight: 400;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #id_gameName::placeholder{
        color: white;
      }
  
      #id_gameName::-ms-input-placeholder{
        color: white;
      }
  
      #id_gameName::-ms-value{
        color: white;
      }
      
      #id_platforms{
        border: none;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        cursor: pointer;
      }
  
      #id_platforms option{
        background: rgba(0, 0, 0, 0.761);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #submit{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 8px;
      border: none;
      background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
      animation: 7s rotate linear infinite;
      color: white;
    }
  
  /* Game searched section */
      .game-display{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        flex: 2;
        color: #E6E6E6;
      }
      .pageHead{
        text-align: center;
        text-decoration: underline;
      }
  
  
      /*******EXPERIMENT************************************/
  
    .not-visible{
      display: none;
    }
  
  #hold_images{
    margin: 20px auto 0 auto;
    width: 95%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(90px,1fr));
    grid-auto-columns: minmax(90px,1fr);
    grid-template-rows: minmax(150px, 1fr);
  }
  
  
  
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .imgDiv{
    cursor: pointer;
    
  }
  
  .my_img{
    height: 100%;
    width: 100%;
  }
  
  #hold_images > div div img:hover{
    cursor: pointer;
    border: double 3px transparent;
    border-radius: 8px;
    --angle: 0deg;  
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(var(--angle), #F12711 , #F33C14, #F5AF19), radial-gradient(circle at top left, #F12711 -4.04%,#F33C14 34.46%,#F5AF19 83.03%);;
    animation: 2s rotate radial infinite;
    transform: scale(1.03);
  }
  
  #hold_images > div:last-of-type{
    grid-column-end: 3;
  }
  
  
  #hold_images > div div img{
    border-radius: 5px;
  }
  
  #data-box{
    width: 100%;
  }
  
  .details{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #E6E6E6;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.357);
    border: 2px solid;
    border-radius: 5px;
    border-image-slice: 1;
    --angle: 0deg;
    /* … */
    animation: 2s rotate linear infinite;
    border-image-source: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
    padding: 2px 10px;
  
  }
  .details-text h6{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
  }
  
  .minors{
    display: block;
  }
  
  #hold_text{
    margin: 0px auto 0 auto;
    display: block;
    width: 100%;
    min-height: 70%;
  }
  
  #hold_text p{
      margin: 20px;
      font-weight: 300;
      font-size: 15px;
      line-height: 29px;
  }
  
  .abt{
      height: 65%;
  }
}
  
    @media (min-width: 481px) and (max-width: 767px) {
      /*Nav bar section*/
      .nav{
        width: 90%;
        margin: 20px auto;
      }
  
      .navigate{
        flex-wrap: wrap;
      }
  
      .titleElem{
            flex: 1;
            align-self: center;
            justify-self: center;
          }
  
      .title-text{
        background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
        animation: 7s rotate linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 0;
      }
  
      .nav-links{
        flex: 1;
      }
  
      .sect{
        border-width: 0 0 2px 0;
        border-style: solid;
        border-image: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%) 1;
        animation: 3s rotate linear infinite;
      }
  
  
      #elems{
        margin: auto;
        padding: 2px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: white;
        
      }
      #elems:hover{
        transform: scale(1.05);
      }
  
      /*Nav Search section*/
      .hero-search{
        width: 100%;
        margin-top: 15px;
      }
  
      .hero-search form{
      }
  
      .search_join{
        width: 80%;
        margin: auto;
      }
  
      #id_gameName{
        width: 100%;
        outline: none;
        border: 1px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        
      }
  
      #id_gameName[type="text"]{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        font-weight: 400;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #id_gameName::placeholder{
        color: white;
      }
  
      #id_gameName::-ms-input-placeholder{
        color: white;
      }
  
      #id_gameName::-ms-value{
        color: white;
      }
      
      #id_platforms{
        border: none;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        cursor: pointer;

      }
  
      #id_platforms option{
        background: rgba(0, 0, 0, 0.761);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #submit{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 8px;
      border: none;
      background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
      animation: 7s rotate linear infinite;
      color: white;
    }
  
  /* Game searched section */
      .game-display{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        flex: 2;
        color: #E6E6E6;
      }
      .pageHead{
        text-align: center;
        text-decoration: underline;
      }
  
  
      /*******EXPERIMENT************************************/
  
    .not-visible{
      display: none;
    }
  
  #hold_images{
    margin: 20px auto 0 auto;
    width: 95%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(100px,1fr));
    grid-auto-columns: minmax(100px,1fr);
    grid-template-rows: minmax(160px, 1fr);
  }
  
  
  
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .imgDiv{
    cursor: pointer;
    
  }
  
  .my_img{
    height: 100%;
    width: 100%;
  }
  
  #hold_images > div div img:hover{
    cursor: pointer;
    border: double 3px transparent;
    border-radius: 8px;
    --angle: 0deg;  
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(var(--angle), #F12711 , #F33C14, #F5AF19), radial-gradient(circle at top left, #F12711 -4.04%,#F33C14 34.46%,#F5AF19 83.03%);;
    animation: 2s rotate radial infinite;
    transform: scale(1.03);
  }
  
  #hold_images > div:nth-last-of-type(2){
    grid-column-end: 3;
  }
  
  
  #hold_images > div div img{
    border-radius: 5px;
  }
  
  #data-box{
    width: 100%;
  }
  
  .details{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #E6E6E6;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.357);
    border: 2px solid;
    border-radius: 5px;
    border-image-slice: 1;
    --angle: 0deg;
    /* … */
    animation: 2s rotate linear infinite;
    border-image-source: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
    padding: 2px 10px;
  
  }
  .details-text h6{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
  }
  
  .minors{
    display: flex;
  }
  #hold_text{
    margin: 0px auto 0 auto;
    display: block;
    width: 100%;
    min-height: 70%;
  }
  
  #hold_text p{
      margin: 20px;
      font-weight: 300;
      font-size: 15px;
      line-height: 29px;
  }
  
  .abt{
      height: 65%;
  }
      
    }
  
    @media (min-width: 768px) and (max-width: 1023px){
      /*Nav bar section*/
      .nav{
        width: 98%;
        margin: 20px auto;
      }
  
      .titleElem{
            flex: 1;
            align-self: center;
            justify-self: center;
          }
  
      .title-text{
        background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
        animation: 7s rotate linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 0;
      }
  
      .nav-links{
        flex: 2;
      }
  
      .sect{
        border-width: 0 0 2px 0;
        border-style: solid;
        border-image: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%) 1;
        animation: 3s rotate linear infinite;
      }
  
  
      #elems{
        margin: auto;
        padding: 2px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        color: white;
        
      }
      #elems:hover{
        transform: scale(1.05);
      }
  
      /*Nav Search section*/
      .hero-search{
        flex: 3;
      }
  
      .search_join{
        width: 100%;
        margin: auto;
      }
  
      .hero-search form{
        width: 100%;
      }
  
      #id_gameName{
        width: 55%;
        outline: none;
        border: 1px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        
      }
  
      #id_gameName[type="text"]{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        font-weight: 400;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #id_gameName::placeholder{
        color: white;
      }
  
      #id_gameName::-ms-input-placeholder{
        color: white;
      }
  
      #id_gameName::-ms-value{
        color: white;
      }
      
      #id_platforms{
        border: none;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        cursor: pointer;

      }
  
      #id_platforms option{
        background: rgba(0, 0, 0, 0.761);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #submit{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 8px;
      border: none;
      background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
      animation: 7s rotate linear infinite;
      color: white;
    }
  
  /* Game searched section */
      .game-display{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        flex: 2;
        color: #E6E6E6;
      }
      .pageHead{
        text-align: center;
        text-decoration: underline;
      }
  
  
      /*******EXPERIMENT************************************/
  
    .not-visible{
      display: none;
    }
  
  #hold_images{
    margin: 20px auto 0 auto;
    width: 95%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, minmax(140px,1fr));
    grid-auto-columns: minmax(140px,1fr);
    grid-template-rows: minmax(200px, 1fr);
  }
  
  
  
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .imgDiv{
    cursor: pointer;
    
  }
  
  .my_img{
    height: 100%;
    width: 100%;
  }
  
  #hold_images > div div img:hover{
    cursor: pointer;
    border: double 3px transparent;
    border-radius: 8px;
    --angle: 0deg;  
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(var(--angle), #F12711 , #F33C14, #F5AF19), radial-gradient(circle at top left, #F12711 -4.04%,#F33C14 34.46%,#F5AF19 83.03%);;
    animation: 2s rotate radial infinite;
    transform: scale(1.03);
  }
  
  #hold_images > div div img{
    border-radius: 5px;
  }
  
  #data-box{
    width: 100%;
  }
  
  .details{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #E6E6E6;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.357);
    border: 2px solid;
    border-radius: 5px;
    border-image-slice: 1;
    --angle: 0deg;
    /* … */
    animation: 2s rotate linear infinite;
    border-image-source: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
    padding: 2px 10px;
  
  }
  
  .details-text h6{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
  }
  .minors{
    display: flex;
  }
    #hold_text{
    margin: 0px auto 0 auto;
    display: flex;
    min-height: 70%;
    }
    
    #hold_text p{
        margin: 30px;
        font-weight: 300;
        font-size: 15px;
        line-height: 29px;
    }

#hold_text p:last-of-type{
    flex: 2;
}
#hold_text p:first-of-type{
    flex: 3;
}
    
    .abt{
        height: 65%;
    }
    }
  
    @media (min-width: 1024px){
        /*Nav bar section*/
      .nav{
        width: 95%;
        margin: 20px auto;
      }
  
      .titleElem{
            flex: 1;
            align-self: center;
            justify-self: center;
          }
  
      .title-text{
        background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
        animation: 7s rotate linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 29.1837px;
        line-height: 36px;
        margin-bottom: 0;
      }
  
      .nav-links{
        flex: 2;
      }
  
      .sect{
        border-width: 0 0 2px 0;
        border-style: solid;
        border-image: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%) 1;
        animation: 3s rotate linear infinite;
      }
  
  
      #elems{
        margin: auto;
        padding: 2px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: white;
        
      }
  
      #elems:hover{
        transform: scale(1.05);
      }
  
      /*Nav Search section*/
      .hero-search{
        flex: 4;
      }
  
      .search_join{
        width: 80%;
        margin: auto;
      }
  
      .hero-search form{
        width: 100%;
      }
  
      #id_gameName{
        width: 68%;
        outline: none;
        border: 1px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        
      }
  
      #id_gameName[type="text"]{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        font-weight: 400;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #id_gameName::placeholder{
        color: white;
      }
  
      #id_gameName::-ms-input-placeholder{
        color: white;
      }
  
      #id_gameName::-ms-value{
        color: white;
      }
      
      #id_platforms{
        border: none;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.344);
        color: white;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        cursor: pointer;
      }
  
      #id_platforms option{
        background: rgba(0, 0, 0, 0.761);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
  
      #submit{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 8px 15px 8px 15px;
      border: none;
      background: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
      animation: 7s rotate linear infinite;
      color: white;
    }
  
  /* Game searched section */
      .game-display{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        flex: 2;
        color: #E6E6E6;
      }
      .pageHead{
        text-align: center;
        text-decoration: underline;
      }
  
  
      /*******EXPERIMENT************************************/
  
    .not-visible{
      display: none;
    }
  
  #hold_images{
    margin: 20px auto 0 auto;
    display: grid;
    width: 80%;
    grid-gap: 15px;
    grid-template-columns: repeat(5, minmax(150px,1fr));
    grid-auto-columns: minmax(150px,1fr);
    grid-template-rows: minmax(250px, 1fr);
  }
  
  .my_img{
    height: 100%;
    width: 100%;
  }
  
  
  
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .imgDiv{
    cursor: pointer;
  }
  
  #hold_images > div div img:hover{
    cursor: pointer;
    border: double 3px transparent;
    border-radius: 8px;
    --angle: 0deg;  
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(var(--angle), #F12711 , #F33C14, #F5AF19), radial-gradient(circle at top left, #F12711 -4.04%,#F33C14 34.46%,#F5AF19 83.03%);;
    animation: 2s rotate radial infinite;
    transform: scale(1.03);
  }
  
  #hold_images > div div img{
    border-radius: 5px;
  }
  
  #data-box{
    width: 100%;
  }
  
  .details{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #E6E6E6;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.357);
    border: 2px solid;
    border-radius: 5px;
    border-image-slice: 1;
    --angle: 0deg;
    /* … */
    animation: 2s rotate linear infinite;
    border-image-source: linear-gradient(var(--angle), #F12711 -4.04%, #F33C14 34.46%, #F5AF19 83.03%);
    padding: 2px 10px;
  
  }
  .details-text h6{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
  }
  
  .minors{
    display: flex;
  }
  #hold_text{
    margin: 0px auto 0 auto;
    display: flex;
    min-height: 70%;
    }
    
    #hold_text p{
        margin: 30px;
        font-weight: 300;
        font-size: 19px;
        line-height: 29px;
    }

    #hold_text p:last-of-type{
        flex: 2;
    }
    #hold_text p:first-of-type{
        flex: 3;
    }
        
        .abt{
            height: 65%;
        }
    }
  
  /***************************************************************/
  
      

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
}