{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Featured Games</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'styles/featured.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">

    
</head>
<style></style>

<body>
    <div class="home" style="background-image: linear-gradient(#00000091, #00000091), url({%static 'assets/hero4.jpg'%}); background-image: -moz-linear-gradient(#00000091, #00000091), url({%static 'assets/hero4.jpg'%}); background-image: -webkit-linear-gradient(#00000091, #00000091), url({%static 'assets/hero4.jpg'%}); background-image: -o-linear-gradient(#00000091, #00000091), url({%static 'assets/hero4.jpg'%} ;">
      <!--Navigation Bar section-->
      <div class="nav navbar">
        <div class="d-flex w-100 navigate">
          <div class="titleElem">
            <a href="/" style="text-decoration: none;"><h4 class="title-text">gamehunt</h4></a>
          </div>
          <div class="nav-links d-flex ">
            <h6 id="elems"><a href="{% url 'about' %}">About</a> </h6>
            <h6 id="elems" class="sect"><a href="{% url 'featured_games' %}">Featured Games</a></h6>
            <!-- <div id='elems frame' style="margin-left: 25px;"><h6 id="login">Login</h6></div> -->
            
          </div>
        <!--Nav bar Search-->
          <div class="hero-search">
            <form method="GET" class="d-flex">
              <div class="search_join d-flex" >
                {% csrf_token %}
                <datalist id="games">
                  
                </datalist>
                
                {{form.gameName}}
                <div class="plat">
                  {{form.platforms}}
                </div>
                
                <button type="submit" id="submit" href="#">
                  <i class="bi bi-search"></i>
                </button>
            </form>
              </div>
                
            </div>
        
      </div>
        </div>
    
    <!-- Hero Section -->
    <div style="padding-top: 5px;" class="game-display">
      <div class="pageHead mt-3">
        <h4>Featured Games</h4>
      </div>
        <div class='d-flex mt-3'>
    
            <div id="hold_images">
            {% for img in imgs %}
                    <div class='games_div'>
                        <div onclick="openTab({{forloop.counter0}})" class="imgDiv">
                            <img class="my_img" src='{% static '' %}games/{{img}}' alt='{{img}}'>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        
        <div id="data-box">
            {% for game in featured %}
                <div id='dets{{forloop.counter0}}' class='details not-visible' style='color: white;'>
                    <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
                        <div class="details-text" style='display: block; margin: auto; '>
                            <h3 style='margin:10px;'> {{game.name}}</h3>
                            <h6 style='margin:10px;'> Release: {{game.release_date}}</h6>
                            <h5 style='margin:10px;'> Rating: {{game.meta_score}}</h5>
                            <h6 style='margin:10px;'> {{game.gameDesc}}</h6>
                            <div class=" minors " style="margin-left: 5px;">
                                <h6 style='margin: 0 5px; padding:0px;'> User Score: {{game.user_score}} | </h6>
                                <h6 style='margin: 0 5px; padding:0px;'> Age: {{game.age_rating}} | </h6>
                                <h6 style='margin: 0 5px; padding:0px;'> Developers: {{game.Devs}} | </h6>
                            </div>
                            <h6 style='margin:10px;'> Genres: {{game.Genres}}</h6>
                        </div>
                </div>
            
            {% endfor %}
            
        </div>
    </div>
    
    <div class="container-fluid pt-3">
        <footer style="color: white; font-family: 'Montserrat', sans-serif;">
          <p class="text-center">Developed with 💖 by <a style="color: white; text-decoration: underline;" target="_blank" href="https://sesan.netlify.app"><span> Sesan</span></a> </p>
          </footer>
      </div>
    </div> 
    

</body>
</html>
<script src="{% static 'js/index.js' %}"></script>