{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Games</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  
    
</head>
<style>

    .not-visible{
      display: none;
    }

    h3{
       color: white; 
    }
        
    html {
      height: 100%;
    }
    body {
      margin:0;
      padding:0;
      font-family: sans-serif;
      background: linear-gradient(#141e30, #243b55);
    }

    .title{
      flex: 5;
    }

    .plat{
      flex: 2;
    }

    .sort{
      flex: 2;
    }
    
    .order{
      flex: 2;
    } 
    
    form button{
      flex: 1;

    }

    #id_gameName{
      width: 100%;
      padding: 10px;
    }

    #id_platforms{
      height: 100%;
      width: 100%;
    }

    #id_sortOpt{
      height: 100%;
      width: 100%;
    }

    #id_ordChoice{
      height: 100%;
      width: 100%;
    }

   

    </style>

<body>
    <div style="">
      <div style="padding-top: 10px;">
        <form method="GET" style="display: flex;width: 70%; height:100%; margin: auto; padding-top:10px;">
            {% csrf_token %}

            <datalist id="games">

            </datalist>
            
            <div class="title" >
              {{form.gameName}}
            </div>
            <div class="plat">
              {{form.platforms}}
            </div>
            <div class="sort">
              {{form.sortOpt}}
            </div>
            <div class="order">
              {{form.ordChoice}}
            </div>
            <button class="btn-warning" type="submit" href="#">
                Submit
            </button>
          </form>
      div>
    </div>
    

    
    <div style="padding-top: 30px; margin: 30px;">
        <h2 style="color: white;">Showing similar Games to {{gameShowing}}</h2>
        <div id="spinner-box" class="text-center mt-3">
          <div class="spinner-border text-warning" role="status"></div>
        </div>
        <div id="data-box">
          
        </div>
        
    </div>
    
    <div class="container-fluid pt-3">
      <footer style="color: white; font-family: 'Montserrat', sans-serif;">
        <p class="text-center">Devloped with 💖 by <a style="color: white;" target="_blank" href="https://sesan.netlify.app"><span> Sesan</span></a> </p>
        </footer>
    </div>
      
    

</body>
</html>


<script>

  const spinnerBox =document.getElementById('spinner-box')
  const dataBox = document.getElementById('data-box')
  const games = document.getElementById('games')
  var frag = document.createDocumentFragment();

  $.ajax({
    type: 'GET',
    url: '/games-json',
    success: function(response){
      for (const item of response){
        var option = document.createElement("OPTION");
        option.textContent = item;
        option.value = item;
        frag.appendChild(option);
      }

      games.appendChild(frag)
},
    error: function(response){
      dataBox.innerHTML = '<p>Failed to get Similar Games, please try again later.</p>'
    }

  })

  $.ajax({
    type: 'GET',
    url: '/similar-games-json/{{gameShowing}}/filter%3F{{console}}',
    success: function(response){
      spinnerBox.classList.add('not-visible')
      response['gameDets'].forEach((element, index) => {
        dataBox.innerHTML += `
        <div style='width: 100%;display: flex; justify-content: center; align-items: center; margin-bottom: 5px;'>\
            <div style=' flex: 1;'>\
              <img src='{% static '' %}games/${response['imgNames'][index]}' alt='${element.name}' style='display: block; margin: auto;'>\
            </div>\
            <div style='color: white; display: inline-block; width:70%; height: inherit; flex: 3;'>\
                    <div style='display: block; margin: auto; '>\
                      <h3 style='margin:10px;'> ${element.name}</h3>\
                      <h6 style='margin:10px;'> Platform:  ${response['platforms'][index]}</h6>\
                      <h6 style='margin:10px;'> Release: ${element.release_date}</h6>\
                      <h6 style='margin:10px;'> Rating: ${element.meta_score}</h6>\
                      <p  style='margin:10px;'> Description: ${element.gameDesc}</p>\
                      <h6 style='margin:10px;'> User Score: ${element.user_score}</h6>\
                      <h6 style='margin:10px;'> Age: ${element.age_rating}</h6>\
                      <h6 style='margin:10px;'> Developers: ${element.Devs}</h6>\
                      <h6 style='margin:10px;'> Genres: ${element.Genres}</h6>\
                  </div>\
          </div>
          
        </div>
        <hr style='background-color: rgb(238, 238, 238);'> 
         
`
        

      });
    },
    error: function(response){
      spinnerBox.classList.add('not-visible')
      dataBox.innerHTML = '<p>Failed to get Similar Games, please try again later.</p>'
    }

  })

</script>